<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Laravel front-controller URL rewriting (equivalent of public/.htaccess) -->
    <rewrite>
      <rules>
        <rule name="Laravel Trailing Slash Redirect" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Laravel Front Controller" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- PHP via FastCGI -->
    <handlers>
      <add name="php-84-fastcgi" path="*.php" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\Users\sanat\php84\php-cgi.exe"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <!-- Lock down sensitive app paths -->
    <security>
      <requestFiltering>
        <hiddenSegments applyToWebDAV="true">
          <add segment=".env" />
          <add segment=".git" />
          <add segment=".codegraph" />
          <add segment="vendor" />
          <add segment="storage" />
          <add segment="bootstrap" />
          <add segment="config" />
          <add segment="database" />
          <add segment="resources" />
          <add segment="sql" />
          <add segment="tests" />
          <add segment="routes" />
          <add segment="node_modules" />
          <add segment="artisan" />
          <add segment="composer.json" />
          <add segment="composer.lock" />
          <add segment="package.json" />
          <add segment="package-lock.json" />
          <add segment="vite.config.js" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="DetailedLocalOnly" />

    <!-- Static asset caching for the Vite build -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <remove fileExtension=".map" />
      <mimeMap fileExtension=".map" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>